:root {
    --red: #EB4C4C;
    --green: #3F7890;
    --black: #010101;
    --light-green: #7FC7C3;
}

*,
*::after,
*::before{
    box-sizing: border-box;
}

body {
    margin:0;
    font-family: 'Roboto Condensed'
    
}

.wrapper {
    max-width: 1120px;
    margin: 0 auto;
    /*background: red!*/
}


.btn {
    padding: 16px 75px;
    height: 55;
    width: 230px;
    color:  white;
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    position:relative;
    background: var(--red);  
}

.btn:hover{
    background: red;
}

.trans {
    padding: 14px 28px;
    border-radius: 24px;
    height: 55;
    color:  white;
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    position:relative;
    background: var(--red);  
}

.trans:hover{
    background: red;
}


header {
    position: relative;
    background-image: url(images/header_img.webp);
    background-size:75%;
    background-position: 100% 0%;
    color: white;
    height: 75vh;
    width: 100%; 
}

header::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background:white;
    clip-path: polygon(100% 0, 0 100%, 100% 100%);  
}


.fade {
    background-image: linear-gradient(to right,
    rgba(0,0,0,1),
    rgba(0,0,0,.8),
    rgba(0,0,0,.0));
    background-size: cover;
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    width: 1120px;
    top: 35px;
    mix-blend-mode: difference;
    z-index: 100
    
    
}


nav .logo {
    font-size: 30px;
    font-weight: bold;
    
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 45px ;
    margin: 0
}

nav ul li a{
    text-decoration: none;
    font-weight: bold;
    font-size: 18;
    color: white
}

nav ul li a:hover{
    color: var(--red);
}



.title_section {
    display:flex;
    flex-direction: column;
    height: 70vh;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    padding-top: 75px;
}

.title_section h1 {
    font-size: 60px;
    font-weight: bold;
    margin: 0 0;
    margin-bottom: 20px;
}

.title_section .red {
    color: var(--red);
}

.title_section .green {
    color: var(--green)
}

.intro-section {
    padding-top: 75px;
    padding-bottom: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.left h3{
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
}

.left p {
    font-size: 20px;
    font-weight:lighter;
    padding-bottom: 30px;
    
}

.title-wrapper {
    display: flex;
    align-items: center;
    gap: 20px
    
}

.title-wrapper .red-line{
    background: var(--red);
    height: 115px;
    width: 10px;
}

/*FOOTER STYLE*/

.footer {
    background: black;
    width: 100%;
    height: 320px;
    color: white;
}

.bottom-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 320px;  
}

.footer h3{
    font-size: 50px;
    font-weight: bold;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;  
    font-size: 16px;
    font-weight: regular;
    padding-bottom: 30px;
}

.bottom .creds {
    display: flex;
    justify-content: space-between;
    gap: 60px;
}



.email-container {
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 5px;
}

.email-icon {
    color: white;
    text-decoration: none;
}

.mobile-menu-container, nav.mobile-nav {
    display: none;
}

@media (max-width:1050px) {
    .wrapper {
        padding: 0 150px;
    }

    nav {
        width: 100%;
        left: 0;
        right: 0;
        padding: 36px 150px;
        top: 0;
    }

    header,
    .title_section,
    header .wrapper {
        max-height: 1000px;
    }

    header {
        position: relative;
        background-image: url(images/header_img.webp);
        background-size:150%;
        background-position: 90% 0%;
        color: white;
        height: 75vh;
        width: 100%; 
    }

    header::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 150px;
        background:white;
        clip-path: polygon(100% 0, 0 100%, 100% 100%);  
    }

    .intro-section {
        padding-top: 50px;
        padding-bottom: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
       
    }

    .code {
        width: 500px;
        height: 500px;
    }

    nav {
        display: none;
    }

    nav.mobile-nav {
        display: flex;
    }

    .menu-icon {
        color: green;
    }

    .mobile-menu-container{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: 100%;
        top: 0;
        background: black;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 200;
        transition: all 400ms ease;
    }

    .mobile-menu-container.active{
        left: 0;
    }
    .mobile-menu-container .close-icon{
        position: fixed;
        right: 100px;
        top: 32px;
        opacity: 0;
        pointer-events: none;
        transition: all 400ms ease;
    }

    .mobile-menu-container.active .close-icon{ 
        opacity: 1;
        pointer-events: auto;
    }


    .mobile-menu-container ul {
        list-style: none;
        padding: 0;
    }

    .mobile-menu-container ul li {
        margin: 30px 0;
        text-align: center;

    }

    .mobile-menu-container ul li a {
        text-decoration: none;
        color: white;
        text-decoration: none;
        font-size: 28px;
    }
    
/*ABOUT*/
    .intro-section {
        padding-top: 75px;
        padding-bottom: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center
    }

    .first, .second, .third {
        display: flex;
    }

    .first, .third {
        flex-direction: column;
    }

    .second {
        flex-direction: column-reverse;
    }

    .left {
        width:fit-content;
    }

    .left h3{
        font-size: 45px;
        font-weight: bold;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    
    .left p {
        font-size: 20px;
        font-weight:lighter;
        padding-bottom: 30px;
        
    }
}
@media (max-width:950px) {
    .bottom .creds {
        display: flex;
        flex-direction: column;
        gap: 0px;
    
    }

    .bottom .creds p {
        margin: 5px 0;
    }
}   

@media (max-width:700px) {
    .wrapper {
        padding: 0 32px;
    }
    
    nav.mobile-nav {
        padding: 32px
    }

    .title_section {
        display:flex;
        flex-direction: column;
        height: 40vh;
        width: 100%;
        align-items: flex-start;
        justify-content: center;
        padding-top: 150px;
    }
    
    .title_section h1 {
        font-size: 40px;
        font-weight: bold;
        margin: 0 0;
        margin-bottom: 20px;
    }

    header,
    .title_section,
    header .wrapper {
        max-height: 500px;
    }

    header {
        position: relative;
        background-image: url(images/header_img.webp);
        background-size:150%;
        background-position: 90% 0%;
        color: white;
        height: 75vh;
        width: 100%; 
    }

    .code {
        width: 350px;
        height: 350px;
    }
    
    nav .logo {
        font-size: 24px;
        font-weight: bold;
    }

    .left .title-wrapper h3 {
        font-size: 40px;
    }

    .title-wrapper .red-line  {
        height: 100px;
    }

    .mobile-menu-container .close-icon {
        right: 32px
    }

    .bottom-container h3 {
        font-size: 35px;
    }

    .bottom-container {
        gap: 0;
        justify-content: center;
    }

    .bottom {
        font-size: 12px
    }

    .first .right img{
        height: 250px;
        width: 250x;
    }

    .second .left2 img{
        height: 250px;
        width: 250x;
    }

    .left h3{
        font-size: 24px;
    }
    
    .intro-section {
        padding-bottom: 100px;
    }

    .contactenos {
        width: 400px;
    }


}